* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
font-family: 'Montserrat', sans-serif;
}
.wrapper {
  height: 100vh;
}
main {
 height: calc(100% - 100px);
 background-color: #313147;
 overflow: auto;
 margin-left: 200px;

}
/* Mix */
.list-inline ul li {
  display: inline-block;
}
a {
  text-decoration: none;
}
.color-grey {
  color: #7A7A7E;
}
/* Nav left aside */
.nav-left {
  width: 200px;
  height: 100%;
  background-color: #000;
  position: fixed;
  display: flex;
  flex-direction: column;
  left: 0;
  padding: 20px 20px;
}
.logo-spotify img {
  width: 100px;
}
.home ul , .playlist-list ul {
  list-style: none;
}
.home {
  padding: 20px 0;
  line-height: 30px;
  flex-basis: 20%;
}
.playlist-list {
  padding: 20px 0;
  line-height: 30px;
  flex-basis: 60%;
  overflow: auto;
}
.install {
  flex-basis: 20%;
}
/* Upgrade */
.upgrade {
  width: calc(100% - 200px);
  height: 50px;
  background-color: rgba(0, 0, 0, 0.5);
  margin-left: 200px;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: flex-end;
}
.btn-upgrade {
 width: 190px;
 height: 30px;
 line-height: 30px;
 border: 1px solid #fff;
 border-radius: 20px;
 text-align: center;
 margin-right: 5%;
 margin-top: 1%;
 transition: transform 0.5s;
}
.btn-upgrade:hover {
  transform: scale(1.5);
}
.btn-upgrade a {
  color: #fff;
}
/* List Discover */
.list-discover {
  text-align: center;
  margin-top: 50px;
  padding: 20px 0;
}


/* Container Songs */
.container-songs {
  display: flex;
  justify-content: flex-start;
  width: calc(100% - 200px);
  flex-wrap: wrap;
  align-items: flex-start;
  height: 100%;
  padding: 50px 0;
}
.box-img {
  flex-basis: calc((100% / 6) - 20px);
  height: 200px;
  background-color: lightblue;
  margin: 8px 10px;
}
.box-img-2 {
  flex-basis: calc((100% / 4) - 20px);
  height: 200px;
  background-color: purple;
  margin: 8px 10px;
}
/* Footer */
footer {
  width: 100%;
  height: 100px;
  background-color: #313030;
  position: fixed;
  bottom: 0;
}
.song-info {
  display: flex;
  justify-content: space-between;
}
/* Song */
.song {
  display: flex;

}
.song-img img {
  max-width: 100px;
  max-height: 100px;
  padding: 10px 10px;
}
.song-name {
  align-self: center;
}
.fav-library {
  align-self: center;
  padding: 0 40px;
}
/* Player */
.song-player {
display: flex;
flex-direction: column;
padding: 30px 0;

}
.player {
 text-align: center;
}
.player li a {
  padding: 0 10px;
}
.song-bar {
 width: 270px;
 height: 2px;
 background-color: #7A7A7E;
 vertical-align: middle;
}
.song-bar::before {
  content: '';
  display: block;
  width: 40px;
  height: 2px;
  background-color: #fff;
}
.song-volume {
  padding: 30px 30px;
}
.song-volume li a {
  padding: 0 10px;
}
.volume-bar {
  width: 180px;
  height: 2px;
  background-color: #7A7A7E;
  vertical-align: middle;
}
.volume-bar::before  {
  content: '';
  display: block;
  width: 40px;
  height: 2px;
  background-color: #fff;
}
